/* Customizations */

:root{
    --sk_primary_background: var(--main-bg-color);
}

/* the plus button next to the message bar in a hover/active state */
#msg_input:focus+#primary_file_button,
#msg_input.focus+#primary_file_button,
#msg_input+#primary_file_button,
#primary_file_button,
#primary_file_button,
.p-threads_footer__input--legacy .p-message_input_file_button.p-message_input_file_button--active,
.p-threads_footer__input--legacy .p-message_input_file_button:hover {
    border-color: #176138;
    background-color: #176138;
    color: #cccccc;
}

/* the plus button next to the message bar in a neutral state */
#msg_input:focus+#primary_file_button:not(:hover):not(.active),
#msg_input.focus+#primary_file_button:not(:hover):not(.active),
#msg_input+#primary_file_button:not(:hover):not(.active),
#primary_file_button:not(:hover):not(.active),
#primary_file_button:not(:hover):not(.active),
.p-threads_footer__input--legacy .p-message_input_file_button,
.p-threads_footer__input .p-message_input_field.focus~.p-message_input_file_button:not(:hover) {
    border-color: #248A51;
    background-color: #248A51;
    color: #ffffff;
}

/* remove the border ... well match the background color of the main message input field */
#msg_form #msg_input {
    border-color: #545454;
}

/* remove the border of the message input field in the sidebar/threads */
.c-texty_input {
    border: none;
}

/* remove max width of the code snippets */
.c-file_gallery {
    max-width: none;
}



/* Fix for message box and header colors starting 7/22-ish */
.p-workspace__input .p-message_input_field {
    background: #424242;
}

footer, #autocomplete_menu.search_menu footer.unified {
    background: #222222;
}

.p-classic_nav {
    background: #222222;
}

.c-texty_autocomplete {
    background: #333333;
}

.c-texty_autocomplete__result_highlight {
    background: #222222;
}

/* make the 'not in channel' visible when typing out a user in a message */
.c-unified_member__context.c-unified_member__not-in-channel-context--small, .c-unified_member__label--small, .c-usergroup__context.c-usergroup__not-in-channel-context--small {
    color: rgba(230,230,230,.5);
}

/* make the virtual list have a dark background ... this is visible when doing quick scrolling over a large list of messages */
.c-virtual_list {
    background: #222222;
}

.p-unreads_view__header {
    background: #333333;
}

.p-unreads_view__empty {
    background: #222222;
}