/* Customizations */

/* the plus button next to the message bar in a hover/active state */
#msg_input:focus+#primary_file_button,
#msg_input.focus+#primary_file_button,
#msg_input+#primary_file_button,
#primary_file_button,
#primary_file_button,
.p-threads_footer__input--legacy .p-message_input_file_button.p-message_input_file_button--active,
.p-threads_footer__input--legacy .p-message_input_file_button:hover {
    border-color: #176138;
    background-color: #176138;
    color: #cccccc;
}

/* the plus button next to the message bar in a neutral state */
#msg_input:focus+#primary_file_button:not(:hover):not(.active),
#msg_input.focus+#primary_file_button:not(:hover):not(.active),
#msg_input+#primary_file_button:not(:hover):not(.active),
#primary_file_button:not(:hover):not(.active),
#primary_file_button:not(:hover):not(.active),
.p-threads_footer__input--legacy .p-message_input_file_button,
.p-threads_footer__input .p-message_input_field.focus~.p-message_input_file_button:not(:hover) {
    border-color: #248A51;
    background-color: #248A51;
    color: #ffffff;
}

/* remove the border ... well match the background color of the main message input field */
#msg_form #msg_input {
    border-color: #545454;
}

/* remove the border of the message input field in the sidebar/threads */
.c-texty_input {
    border: none;
}

/* remove max width of the code snippets */
.c-file_gallery {
    max-width: none;
}